/* CSS Pagina Contacto */
form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #1b222b;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,.45);
}
form fieldset {
  border: 1px solid #2a3a4c;
  border-radius: 10px;
  padding: 14px 18px;
  margin-bottom: 18px;
  background: #0e141b;
}

form legend {
  padding: 0 8px;
  font-weight: 700;
  color: #39d0ff;
  font-size: 24px;
}

form label {
  display: block;
  margin-top: 10px;
  font-weight: 500;
  color: white;
}

form input, form textarea {
  margin-top: 4px;
  width: 94%;
  padding: 8px;
  border: 1px solid #2a3a4c;
  border-radius: 6px;
  background: #1b222b;
  color: white;
}

.botonEnviar {
  margin: 10px;
  text-align: end;
}

button {
  background: #111;
  border: 1px solid #39d0ff;
  color: #39d0ff;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background: #39d0ff;
  color: #000;
}
.alinear{
  text-align: center;
}
