/*CSS DE ERROR*/

.mensajeImagen, .errorImagen {
    width: 100%;
    max-width: 600px;
    height: auto;
}
.error, .mensaje{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 100px;
}
.errorTexto, .mensajeTexto{
    width: 45%;
}