body {
    font-family: Arial, sans-serif;
    line-height: 1;
    margin: 0;
    padding: 0;
    background: #0d1b2a;
    color: antiquewhite;
}
p{
    font-size: 24px;
}
.error{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 100px;
}
.errorTexto{
    text-align: center;
}