/* CSS Pagina Galeria */
.contentGaleria {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;        
}
.imgGaleria {
  width: 100%;
  max-width: 600px;         
  height: auto;
  border-radius: 12px;     
  border: 1px solid #222;  
  box-shadow: 0 8px 24px rgba(0,0,0,.45); 
}
.centrar {
  align-content: center;
  padding: 40px;
}