@media (max-width: 767px){
    .tarjetaBio, .contenedor, .formulario, .repartoContenedor, .galeriaContenedor, .produccionContenedor {
        margin: 20px;
    }
    .parent {
        display: flex;
        flex-direction: column;
    }
}

