@media (min-width: 768px) and (max-width: 1024px) {
    .parent {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 767px){
    .produccionContenedor {
        margin: 20px;
        padding: 0px;
    }
}