@media (max-width: 1200px) {
    .descripcionVideoAnimado {
        max-width: none;
    }
    .contenedor {
        flex-direction: column;
        margin: 20px;
         iframe {
            margin: auto;
            width: 60%;
        }
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .edicion {
        flex-direction: column;
        figure{
            margin: 20px;
        }
    }
    .contenedor {
        iframe{
            width: 100%;
        }
    }
}
@media (max-width: 767px){
    body {
        line-height: 1.1;
    }
    .edicion {
        flex-direction: column;
        figure{
            margin: 20px;
        }
    }
    .tarjetas, .tarjetaBio, .formulario, .repartoContenedor, .galeriaContenedor, .produccionContenedor{
        animation: none;
        transition: none;
        background: none;
    }
    .tarjetas:hover {
        filter: none;
        transform: none;
    }
    .contenedor iframe{
        width: 100%;
    }
    .sinopsis, .videoAnimado {
        margin: 20px;
    }
    

}