/*CSS para  los estilos comunes*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at top, #0d1b2a 0%, #000814 60%, #000 100%);
    color: #e9eef3;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fff;
    padding: 10px 0;
    align-items: center;
}

nav {
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

.botonMenu a {
    display: inline-block;
    color: burlywood;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.botonMenu a:hover{
    color: aqua;
    transform: scale(1.2);
}

section {
    margin-top: 20px;
}


h1 {
    color: #c1c788;
    font-size: 36px;
    text-align: center;
}
h2 {
  color:  #c1c788;
  font-size: 28px;
}

strong{
  color: aqua;
}
figure {
  margin: 0;               
  padding: 0;
  display: block;          
  text-align: center;      
}
.logo, .logoParamoun {
  max-width: 100px;        
  height: auto;
  padding: 5px;

}
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    background: #000000;
    color: #fff;
    padding: 50px 0;
}

footer p {
    margin: 0;
    font-size: 12px;
}



